spring:
    datasource:
        url: ${AWS_RDS_URL}
        username: ${AWS_RDS_USERNAME}
        password: ${AWS_RDS_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
    sql:
        init:
            mode: never
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                show_sql: true
                format_sql: true
                use_sql_comments: true
                hbm2ddl:
                    auto: update
                default_batch_fetch_size: 1000
    redis:
        host: ${REDIS_HOSTNAME}
        port: ${REDIS_PORT}
    mail:
        host: smtp.naver.com
        port: 465
        username: ${MAIL_NAME}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    starttls:
                        enable: true
                        required: true
                    auth: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
cloud:
    aws:
        s3:
            bucket: growupbarket
        credentials:
            access-key: ${ACCESS_KEY}
            secret-key: ${SECRET_KEY}
        region:
            static: ap-northeast-2
            auto: false
        stack:
            auto: false

logging:
    level:
        com:
            amazonaws:
                util:
                    EC2MetadataUtils: error

jwt:
    secret:
        key: ${JWT_KEY}

kms:
    url: ${KMS_KEY}