spring:
    datasource:
        url: jdbc:mysql://growup-db.ctm0qk0u2wwh.ap-northeast-2.rds.amazonaws.com:3306/growup
        username: root
        password: growupbe
        driver-class-name: com.mysql.cj.jdbc.Driver
    sql:
        init:
            mode: never
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                show_sql: true
                format_sql: true
                use_sql_comments: true
                hbm2ddl:
                    auto: update
                default_batch_fetch_size: 1000
    redis:
        host: localhost
        port: 6379
    mail:
        host: smtp.naver.com
        port: 465
        username: wngus000507@naver.com
        password: wngus1234@
        properties:
            mail:
                smtp:
                    starttls:
                        enable: true
                        required: true
                    auth: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
cloud:
    aws:
        s3:
            bucket: growupbarket
        credentials:
            access-key: AKIAZH5YHGBI3P6NUE6J
            secret-key: 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
        region:
            static: ap-northeast-2
            auto: false
        stack:
            auto: false

logging:
    level:
        com:
            amazonaws:
                util:
                    EC2MetadataUtils: error

jwt:
    secret:
        key: 0186a58ec5ee28e0f073d19fded854e58e9ab2410fd2e128e606345b902212f3

kms:
    url: wss://test-ubuntudb.shop/kurento