files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            echo "/var/app/current/application.jar" >> $JAR_PATH

            # run app
            killalljava
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH